{% extends 'base.html.twig' %}

{% block title %}Videos{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xl-8 offset-xl-2 col-12">
                <h2 class="text-center">Videos</h2>
                <a href="{{ path('video_new') }}" class="w-100 btn btn-primary">Create New</a>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Google Status</th>
                            <th scope="col">SightEngine can be moderated</th>
                            <th scope="col">SightEngine status</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for video in videos %}
                            {% set tr_class = video_get_main_table_row_class(video) %}
                            <tr {% if tr_class is defined and tr_class is not null %}class="{{ tr_class }}"{% endif %}>
                                <th scope="row">{{ video.id }}</th>
                                <th>{{ video.name }}</th>
                                <th>{{ video.status }}</th>
                                <th>
                                    {% set sight_engine_can_be_moderated = '...' %}
                                    {% if video.sightEngineCanBeModerated is not null %}
                                        {% if video.sightEngineCanBeModerated %}
                                            {% set sight_engine_can_be_moderated = 'Yes' %}
                                        {% else %}
                                            {% set sight_engine_can_be_moderated = 'No' %}
                                        {% endif %}
                                    {% endif %}
                                    {{ sight_engine_can_be_moderated }}
                                </th>
                                <th>{{ video.sightEngineStatus }}</th>
                                <th>
                                    <a href="{{ path('video_view', {'id': video.id}) }}" class="btn btn-primary">View</a>
                                </th>
                            </tr>
                            {% set tr_class = null %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}