{% extends 'base.html.twig' %}

{% block title %}New Video{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xl-6 offset-xl-3 col-12">
                <a href="{{ path('video_index') }}" class="btn btn-secondary w-100">Back</a>
                {{ include('video/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}