{# @var App\Entity\Video video #}
{% extends 'base.html.twig' %}

{% block title %}Video - {{ video.name }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xl-6 offset-xl-3 col-12">
                <a href="{{ path('video_index') }}" class="btn btn-secondary w-100">Back</a>
                <video controls class="mt-3" width="650">
                    <source src="{{ '/' ~ video_path ~ video.path }}"/>
                </video>
            </div>
        </div>
        {% if video.googleModerationResult %}
        <div class="row">
            <div class="col-xl-8 offset-xl-2 col-12">
                <h2 class="text-center">Google Moderation Result</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Second</th>
                            <th scope="col">Probability</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for r in video.googleModerationResult %}
                            {% if r.likelihood == 5 %}
                                {% set tr_class = 'table-danger' %}
                            {% elseif r.likelihood == 4 or r.likelihood == 3 %}
                                {% set tr_class = 'table-warning' %}
                            {% endif %}
                            <tr {% if tr_class is defined and tr_class is not null %}class="{{ tr_class }}"{% endif %}>
                                <th scope="row">{{ loop.index }}</th>
                                <th>{{ r.time_offset }}</th>
                                <th>{{ r.likelihood }}/5</th>
                            </tr>
                            {% set tr_class = null %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
        {% if video.sightEngineResult %}
            <div class="row">
                <div class="col-xl-8 offset-xl-2 col-12">
                    <h2 class="text-center">SightEngine Moderation Result</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Position</th>
                                <th scope="col">Sexual Activity</th>
                                <th scope="col">Sexual Display</th>
                                <th scope="col">Erotica</th>
                                <th scope="col">Suggestive</th>
                                <th scope="col">Weapon</th>
                                <th scope="col">Alcohol</th>
                                <th scope="col">Drugs</th>
                                <th scope="col">Gore</th>
                                <th scope="col">Nazi</th>
                                <th scope="col">Confederate</th>
                                <th scope="col">Supremacist</th>
                                <th scope="col">Terrorist</th>
                                <th scope="col">Middle Finger</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for r in video.sightEngineResult %}
                                {% set s_tr_class = video_get_sight_engine_table_row_class(r) %}
                                <tr {% if s_tr_class is not null %}class="{{ s_tr_class }}"{% endif %}>
                                    <th scope="row">{{ loop.index }}</th>
                                    <th>{{ r.position }}</th>
                                    <th>
                                        {% if r.sexual_activity %}
                                            {{ r.sexual_activity }}
                                        {% else %}
                                            No Data
                                        {% endif %}
                                    </th>
                                    <th>
                                        {% if r.sexual_display %}
                                            {{ r.sexual_display }}
                                        {% else %}
                                            No Data
                                        {% endif %}
                                    </th>
                                    <th>
                                        {% if r.erotica %}
                                            {{ r.erotica }}
                                        {% else %}
                                            No Data
                                        {% endif %}
                                    </th>
                                    <th>
                                        {% if r.suggestive %}
                                            {{ r.suggestive }}
                                        {% else %}
                                            No Data
                                        {% endif %}
                                    </th>
                                    <th>
                                        {% if r.weapon %}
                                            {{ r.weapon }}
                                        {% else %}
                                            No Data
                                        {% endif %}
                                    </th>
                                    <th>
                                        {% if r.alcohol %}
                                            {{ r.alcohol }}
                                        {% else %}
                                            No Data
                                        {% endif %}
                                    </th>
                                    <th>
                                        {% if r.drugs %}
                                            {{ r.drugs }}
                                        {% else %}
                                            No Data
                                        {% endif %}
                                    </th>
                                    <th>
                                        {% if r.gore %}
                                            {{ r.gore }}
                                        {% else %}
                                            No Data
                                        {% endif %}
                                    </th>
                                    <th>
                                        {% if r.nazi %}
                                            {{ r.nazi }}
                                        {% else %}
                                            No Data
                                        {% endif %}
                                    </th>
                                    <th>
                                        {% if r.confederate %}
                                            {{ r.confederate }}
                                        {% else %}
                                            No Data
                                        {% endif %}
                                    </th>
                                    <th>
                                        {% if r.supremacist %}
                                            {{ r.supremacist }}
                                        {% else %}
                                            No Data
                                        {% endif %}
                                    </th>
                                    <th>
                                        {% if r.terrorist %}
                                            {{ r.terrorist }}
                                        {% else %}
                                            No Data
                                        {% endif %}
                                    </th>
                                    <th>
                                        {% if r.middle_finger %}
                                            {{ r.middle_finger }}
                                        {% else %}
                                            No Data
                                        {% endif %}
                                    </th>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}