{% extends 'base.html.twig' %}

{% block title %}Main Page{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1>Hello World!</h1>
            </div>
        </div>
    </div>
{% endblock %}